@{
    ViewData["Title"] = "Inventory";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<div class="inventory-btn inventory-backpack"></div>

<div class="inventory-btn ivtr-item">
    <table class="image-table">
        <tr>
            <td><a data-tooltip="opis zaklęcia 1" class="image-link"><img src="" class="image" /></a></td>
            <td><a data-tooltip="opis zaklecia 2" class="image-link"><img src="" class="image" /></a></td>
            <td><a data-tooltip="opis zaklecia 2" class="image-link"><img src="" class="image" /></a></td>
           
        </tr>
        <tr>
            <td><a data-tooltip="opis zaklęcia 3" class="image-link"><img src="" class="image" /></a></td>
            <td><a data-tooltip="opis potki" class="image-link"><img src="" class="image" /></a></td>
            <td><a data-tooltip="opis zaklecia 2" class="image-link"><img src="" class="image" /></a></td>
          
        </tr>
        <tr>
            <td><a data-tooltip="opis miecza" class="image-link"><img src="" class="image" /></a></td>
            <td><a data-tooltip="opis łuku" class="image-link"><img src="" class="image" /></a></td>
            <td><a data-tooltip="opis zaklecia 2" class="image-link"><img src="" class="image" /></a></td>
           
        </tr>
        <tr>
            <td><a data-tooltip="opis miecza" class="image-link"><img src="" class="image" /></a></td>
            <td><a data-tooltip="opis łuku" class="image-link"><img src="" class="image" /></a></td>
            <td><a data-tooltip="opis zaklecia 2" class="image-link"><img src="" class="image" /></a></td>
           
        </tr>
    </table>
</div>
<button><img src="~/images/arrows.png" class="inventory-btn arrows"/></button>
<div class="inventory-btn inventory-character">
    <div class="inventory-btn equiped-1"></div>
    <div class="inventory-btn equiped-2"></div>
    <div class="inventory-btn equiped-3"></div>
    <div class="inventory-btn equiped-4"></div>
    <div class="inventory-btn equiped-5"></div>
    <div class="inventory-btn equiped-6"></div>
</div>
<a class="menu-btn btn-ivtr" href="@Url.Action("Map", "Home")">Powrót</a>
