@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
                </div>
                <div class="card-body p-4 p-sm-5">
                            <h3 class="login-heading mb-4">Witamy ponownie!</h3>
                            <form>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="nazwa@example.com">
                                    <label for="floatingInput">Adres e-mail</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Hasło">
                                    <label for="floatingPassword">Hasło</label>
                                </div>

                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                    <label class="form-check-label" for="rememberPasswordCheck">
                                        Zapamiętaj hasło
                                    </label>
                                </div>

                                <div class="d-grid">
                            <a class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" href="@Url.Action("Menu", "Home")">Zaloguj</a>
                                    <div class="text-center">
                                        <a class="small" href="#">Zapomniałeś hasła?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>