@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h1 class="card-title text-center mb-5 fw-normal fs-1">Rejestracja</h1>
                        <form asp-controller ="Identity" asp-action="Signup" method="post">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInputUsername" placeholder="myusername" required autofocus>
                                <label for="floatingInputUsername">Username</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
                                <label for="floatingInputEmail">Adres e-mail</label>
                            </div>
                         
                            <hr>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Hasło</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password">
                                <label for="floatingPasswordConfirm">Potwierdź hasło</label>
                            </div>

                            <div class="d-grid mb-2">
                                <a class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" href="@Url.Action("Index", "Home")">Zarejestruj sie</a>
                            </div>

                            <a class="d-block text-center mt-2 small" href="@Url.Action("SignIn", "Home")">Masz już konto? Zaloguj się</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
