
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<body>
    <div class="image-container about">
        <img src="~/images/about-bg.png" />
        <div class= "about-descriptions">
        <h1> About </h1>
        <a>TODO: ładny opis o projekcie i devach</a>
        </div>
    </div>
</body>
<a class="menu-btn btn-3" href="@Url.Action("Menu", "Home")">Back</a>


