
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<body>
    <div class="image-container about">
        <img src="~/images/about-bg.png" />
        <div class= "about-descriptions">
        <h1> About </h1>
            <a>
                Gra transcendence jest tworzona przez:<br /><br />
               Tech Leader - Piotr Niewczas<br />
                Scrum Master - Paula Migulska<br />
                Developer - Piotr Żak<br />
                Developer - Marek Laskowski<br />
                Trener - Tymoteusz Micherda<br />
            </a>
        </div>
    </div>
</body>
<a class="menu-btn btn-3" href="@Url.Action("Menu", "Home")">Powrót</a>


