
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<body>
    <div class="image-container about">
        <img src="~/images/about-bg.png" />
        <div class= "about-descriptions">
        <h1> Twórcy </h1>
            <a>
                Gra transcendence jest tworzona przez:<br /><br />
                Tech Lead / Back-end Developer - Piotr Niewczas<br />
                Scrum Master / Front-end Developer - Paula Migulska<br />
                Trener - Tymoteusz Micherda<br />
            </a>
        </div>
    </div>
</body>
<a class="menu-btn btn-3" href="@Url.Action("Menu", "Home")">Powrót</a>


