@{
    ViewData["Title"] = "Fight";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <div class="image-container fight-panel">
        <img src="~/images/fight-panel.png" />
        <img class="fight-btn enemy" src="~/images/druid.png" />
    <img class="fight-btn player-hero" src="~/images/czarodziej.png" />
</div>
<div class="fight-btn circle">
<nav class='menu'>
    <input checked='checked' class='menu-toggler' id='menu-toggler' type='checkbox'>
    <label for='menu-toggler'></label>
    <ul>
        <li class='menu-item'>
            <a href='ability' ></a>
        </li>
        <li class='menu-item'>
            <a  href='ability1'></a>
        </li>
        <li class='menu-item'>
            <a href='ability2'></a>
        </li>
        <li class='menu-item'>
                <a href='ability3'></a>
        </li>
        <li class='menu-item'>
                <a href='weapon'></a>
        </li>
        <li class='menu-item'>
                <a href='weapon1'></a>
        </li>
    </ul>
</nav>
</div>