@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

    
    <div class="container-xxl">
        <header class="welcome">
            <h2 class="hero-name">PROJECT TRANSCENDENCE</h2>

            <p class="hero-text">
                Experience a game based on the world of D&D and experience an adventure worthy of a defender of the world and an adventurer. Create your character now to start defeating enemies and solving puzzles. Go through all the dungeons!
            </p>

            <div class="hero-buttons">
                <a class="hero-btn" href="@Url.Action("SignIn", "Home")">Sign In</a>
                <a class="hero-btn" href="@Url.Action("Register", "Home")">Register</a>
            </div>
        </header>
    </div>

