@{
    ViewData["Title"] = "Inventory";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<div class="inventory-btn inventory-backpack"></div>

    <div class="inventory-btn ivtr-item">
        <table class="image-table">
            <tr>
            <td><a data-tooltip="opis zaklęcia 1" class="image-link"><img src="~/images/spell1.png" class="image"/></a></td>
            <td><a data-tooltip="opis zaklecia 2" class="image-link"><img src="~/images/spell2.png" class="image" /></a></td>
            </tr>
            <tr>
            <td><a data-tooltip="opis zaklęcia 3" class="image-link"><img src="~/images/spell3.png" class="image" /></a></td>
            <td><a data-tooltip="opis potki" class="image-link"><img src="~/images/potka.png" class="image" /></a></td>
            </tr>
            <tr>
            <td><a data-tooltip="opis miecza" class="image-link"><img src="~/images/sword.png" class="image" /></a></td>
            <td><a data-tooltip="opis łuku" class="image-link"><img src="~/images/bow.png" class="image" /></a></td>
            </tr>
        </table>
    </div>
<a class="menu-btn btn-ivtr" href="@Url.Action("Map", "Home")">Powrót</a>
