﻿@{
    ViewData["Title"] = "Inventory";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<div class="inventory-btn inventory-backpack"></div>

<div class="inventory-btn ivtr-item">
    <table class="image-table">
        <tr>
            <td><a data-tooltip="Elektryzujące strzały z błyszczącym łukiem." class="image-link"><img src="~/images/bow.png" class="image" /></a></td>
            <td><a data-tooltip="Mroczny miecz, pozostawiający poparzenia" class="image-link"><img src="~/images/sword.png" class="image" /></a></td>
            <td><a data-tooltip="Karmazynowy eliksir, zadający obrażenia płomieniami." class="image-link"><img src="~/images/potka.png" class="image" /></a></td>

        </tr>
        <tr>
            <td><a data-tooltip="Zaklęcie Chaosowego Pioruna: Rozszczepia powietrze błyskawicami, zadając obrażenia." class="image-link"><img src="~/images/spell1.png" class="image" /></a></td>
            <td><a data-tooltip="Zaklęcie Lodowej Lanii: Tworzy lodową strzałę, zamrażając wroga." class="image-link"><img src="~/images/spell2.png" class="image" /></a></td>
            <td><a data-tooltip="Zaklęcie Płomiennej Eksplozji: Nagła erupcja ognia wokół, zadająca obrażenia ogniowe." class="image-link"><img src="~/images/spell3.png" class="image" /></a></td>

        </tr>
        <tr>
            <td><a data-tooltip="Pusty slot" class="image-link"><img src="~/images/x.png" class="image" /></a></td>
            <td><a data-tooltip="Pusty slot" class="image-link"><img src="~/images/x.png" class="image" /></a></td>
            <td><a data-tooltip="Pusty slot" class="image-link"><img src="~/images/x.png" class="image" /></a></td>

        </tr>
        <tr>
            <td><a data-tooltip="Pusty slot" class="image-link"><img src="~/images/x.png" class="image" /></a></td>
            <td><a data-tooltip="Pusty slot" class="image-link"><img src="~/images/x.png" class="image" /></a></td>
            <td><a data-tooltip="Pusty slot" class="image-link"><img src="~/images/x.png" class="image" /></a></td>

        </tr>
    </table>
</div>
<button><img src="~/images/arrows.png" class="inventory-btn arrows" /></button>
<div class="inventory-btn inventory-character">
    <img src="@ViewBag.SelectedImagePath" />
    <div class="inventory-btn equiped-common equiped-1"></div>
    <div class="inventory-btn equiped-common equiped-2"></div>
    <div class="inventory-btn equiped-common equiped-3"></div>
    <div class="inventory-btn equiped-common equiped-4"></div>
    <div class="inventory-btn equiped-common equiped-5"></div>
    <div class="inventory-btn equiped-common equiped-6"></div>
</div>
<a class="menu-btn btn-ivtr" href="@Url.Action("Map", "Home")">Powrót</a>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var arrowsButton = document.querySelector('.arrows');
        var equipedDivs = document.querySelectorAll('.inventory-btn.inventory-character .inventory-btn');
        var imageLinks = document.querySelectorAll('.ivtr-item a.image-link');


        imageLinks.forEach(function (link, index) {
            link.addEventListener('click', function () {

                imageLinks.forEach(function (link) {
                    link.classList.remove('active');
                });

                link.classList.add('active');
            });
        });

        arrowsButton.addEventListener('click', function () {
            var activeImage = document.querySelector('.ivtr-item a.image-link.active img');

            if (activeImage) {

                var firstEmptySlot = Array.from(equipedDivs).findIndex(function (div) {
                    return !div.hasChildNodes();
                });

                if (firstEmptySlot !== -1) {
                    var clonedImage = activeImage.cloneNode(true);

                    equipedDivs[firstEmptySlot].appendChild(clonedImage);

                    activeImage.parentNode.removeChild(activeImage);

                    imageLinks.forEach(function (link) {
                        link.classList.remove('active');
                    });
                }
            } else {
                var activeEquipedDiv = Array.from(equipedDivs).find(function (div) {
                    return div.classList.contains('active');
                });

                if (activeEquipedDiv) {
                    var firstEmptyImageLink = Array.from(imageLinks).find(function (link) {
                        return !link.hasChildNodes();
                    });

                    if (firstEmptyImageLink) {
                        var clonedImage = activeEquipedDiv.firstChild.cloneNode(true);

                        firstEmptyImageLink.appendChild(clonedImage);

                        activeEquipedDiv.removeChild(activeEquipedDiv.firstChild);

                        activeEquipedDiv.classList.remove('active');
                    }
                }
            }
        });

        equipedDivs.forEach(function (div) {
            div.addEventListener('click', function () {

                equipedDivs.forEach(function (div) {
                    div.classList.remove('active');
                });


                div.classList.add('active');
            });
        });
    });
</script>