@{
    ViewData["Title"] = "Menu";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<body>
    <div class="image-container">
        <img src="~/images/dragon-menu.png"/>
        <a class="menu-btn btn-1" href="@Url.Action("Play", "Home")">Graj</a>
        <a class="menu-btn btn-9" href="@Url.Action("About", "Home")">Informacje</a>
        <a class="menu-btn btn-3" href="@Url.Action("Index", "Home")">Wyjście</a> 
  
    </div>
</body>

