@{
    ViewData["Title"] = "Quest";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<body>
    <div class="image-container about">
        <img src="~/images/about-bg.png" />
        <div class="about-descriptions">
            <h1> Zagadka! </h1>
            <a>
                Na czarną nocy patrzę,
                w noc, gdy gwiazdy na niebie błyszczą.
                Kiedy tylko świt wstaje,
                przed tobą muszę uciekać.

                Jestem duchem nocy,
                w ukryciu poruszam się sprytnie.
                Ciemność moim przyjacielem jest,
                mój krok jest cichy jak szelest.

                W dzień jestem nieobecny,
                lecz nocą przychodzę znowu.
                Kim jestem, wiesz może?
            </a>
        </div>
    </div>
</body>
<a class="menu-btn btn-q-1" href="@Url.Action("Beaten", "Home")">Sowa</a>
<a class="menu-btn btn-q-2" href="@Url.Action("Map", "Home")">Złodziej</a>